Options -Indexes
DirectoryIndex bootstrap.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ bootstrap.php [L,QSA]

<FilesMatch "^(?:\.ht|config\.php|.*\.(?:pem|key|sql|log))$">
  Require all denied
</FilesMatch>
